@import 'compShared';

$borderColor: rgba(195, 205, 221, 0.7);

.main{
	position: absolute;
	display: flex;
	top: $searchTop + $searchHt;	
	left: 5%;
	width: 95%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	align-content: space-around;
}

.objCont{
	margin: 0px 0px 20px 15px;
	border: 1px solid $borderColor;
	box-shadow: 2px 2px 2px $borderColor;
	height: 300px;
	width: 235px;
	padding-left: 25px;
	padding-top: 3px;
}

.objImg{
	max-width: 200px;
	max-height: 250px;
}

.objTitle{
	font-size: 0.75em;
	display: block;
	max-width: 65%;
	margin-bottom: 10px;
	margin-top: 5px;
}